/* Work in progress */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  body {
    background-color: #DCDCDC;
    font-family: Curlz MT, fantasy;
}

nav {
    display: block;
    unicode-bidi: isolate;
}

nav {
    font-weight: 400;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

#page-wrapper {
  position: relative;
} 

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}
